/* ==========   Base Styles   ========== */

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #222930;
  margin: 0;
 
}
  
h1 {
  font-family: 'Poppins', sans-serif;
  padding: 30px;
  margin: 0;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

h2, h3 {
  font-weight: bolder;
  margin: auto;
}

h2 {
  margin-top: 5%;
  text-align: center;

}
h3 {
  padding-bottom: 30px;
  padding-top: 10px;
}


/* ===========  Layout Styles  =================== */


form {
  /* width: 100%; */
  /* margin: 0; */
  margin-bottom: 10%;
  background: white;
  border-top: solid black;
  padding-top: 40px;
  border-width: 2px;
}
  

.intro {
  font-weight: bold;
  text-align: center;
  color: #8a97a0;
  padding-top: 12px;
  padding-bottom: 38px;
  margin-bottom: 3px;
  border-bottom: solid black;
  border-width: 5px;
}


fieldset {
  margin-bottom: 30px;
  background-color: snow;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto; 
     
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="city"],
select {   
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e0e0e0;
  color: #062c4b;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px; 
}

input::placeholder {
  text-align: right;
}

textarea {
  background: rgba(255,255,255,0.1);
  border: none;
  height: 79px;
  border-radius: 13px;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e0e0e0;
  color: #062c4b;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px; 
}

.newsletter {
  padding-top: 10px;

}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #3aa6c1;
  font-size: 19px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3aa6c1;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #225b6b;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 15px 20px 10px;
}

footer {
  text-align:center;
  font-style: italic;
  color: #8a97a0;
  margin: 20px 0px 30px
}


  /* ===========   MEDIA QUERIES   ========= */


  @media (min-width: 320px) {
   fieldset {
     width: 100%;    
   }
   label {
     padding-bottom: 5px;
  }
}

  @media (min-width: 768px) {
    .contact-col {
      display: flex ;
       
  }
  label {
    width: 30%;
    padding: 15px 25px;
    padding-left: 0;
    text-align: left;
  }
  fieldset {
    width: 100%;
  }
  .top-col {
    margin: 0px 17%;
  }
  form{
    margin:0px 17%;
  }
} 